body {
    background-color: black;
}
h1 {
    color: purple;
}

h2, h3 {
    text-align: center;
    color: purple;
}

h5 {
    color: purple;
    align-items: center;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: white;
}

.main-container {
    background-color: rgb(224, 202, 245);
    border: 1px solid rgb(224, 202, 245);
    border-radius: 5px;
    margin: 50px 400px;
    padding: 20px 150px 70px;
}

p {
    color: purple;
}

.about {
    width: 100%;
    padding: 78px 0px;
    background-color: black;
}

.about img {
    height: auto;
    width: 420px;
    border: 1px solid purple;
    border-radius: 80px;
    margin-right: 40px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: o auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button {
    margin: 0px 10px;
    color: grey;
    background-color:rgb(236, 170, 238);
    padding: 15px;
    border: 1px saddlebrown;
    border-radius: 50px;
}

.button:hover {
    color: white;
}

.email-button {
    display: block;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 50px;
}
